main# Enforce Unix newlines
* text=auto eol=lf

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Make GitHub's language statistics treat the `*.conf` files as
# Apache configuration files
#
# https://github.com/github/linguist/blob/master/README.md

*.conf linguist-language=ApacheConf

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

/.git*          export-ignore
/.editorconfig  export-ignore
/test           export-ignore
/package.json   export-ignore
